src/*.exe
src/spectrumcoin
src/spectrumcoind
src/test_spectrumcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.spectrumcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
spectrumcoin-qt
Spectrumcoin-Qt.app

# Unit-tests
Makefile.test
spectrumcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
